*{
    margin: 0;
    padding: 0;

}

#cloud{
    width: 50px;
    height: 25px;
    position: relative;
    top: 30px;
    left: 1200px;
    animation: moveCloud 5s infinite linear;
    z-index: 2;
}
#cloud2{
    width: 50px;
    height: 25px;
    position: relative;
    top: 20px;
    left: 1600px;
    animation: moveCloud2 7500ms infinite linear;
    z-index: 2;
}
#cloud3{
    width: 50px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 1000px;
    animation: moveCloud3 10s infinite linear;
    z-index: 2;
}

@keyframes moveCloud{
    0%{left: 800px;}
    100%{left: -100px;}
}
@keyframes moveCloud2{
    0%{left: 1200px;}
    100%{left: -100px;}
}
@keyframes moveCloud3{
    0%{left: 1600px;}
    100%{left: -100px;}
}

#game{
    width: 500px;
    height: 230px;
    margin: auto;
    background-color: black;
    border: 1px solid black;
    overflow: hidden;
    z-index: 100;
}
#player{
    width: 20px;
    height: 50px;
    background-color: gray;
    position: relative;
    top: 150px;
    left: 10px;
    z-index: 1;
}
#block{
    width: 20px;
    height: 20px;
    background-color: green;
    position: relative;
    top: 130px;
    left: 500px;
    animation: run 1s infinite linear;
    z-index: 1;
}
@keyframes run{
    0%{left: 500px;}
    100%{left: -50px;}
}
@keyframes jump{
    0%{top: 150px;}
    25%{top: 100px;}
    50%{top: 100px;}
    100%{top: 150px;}
}
.playerJ{
    animation: jump 500ms linear;
}